@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {

}

html{
    overflow-y: scroll;
    scrollbar-color: rgb(0, 0, 0) rgb(107, 107, 107);
    scrollbar-width: thin;
    
}
a:hover{
    cursor: pointer;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[href] {
    text-decoration: none;
    color: white;
}


img {
    max-width: 100%;
    height: auto;
}

h1 { 
    margin: 0; 
}

body {
    font-family: 'PT Serif', serif, sans-serif;
    font-size: 1rem;
    line-height: 2rem;
    top: 0;
    width: 100%;
    scrollbar-width: thin;
}

h2{
    font-size: 2rem;
}

#main-logo{
    width: 60px;
    height: 60px;
    margin: 0.5rem;
    margin-left: 1rem;
}

.text-size-title{
    font-size: 1.5rem;
    font-weight: bold;
}

.main-section{
    padding: 2rem;
}


#me {
    text-indent: 5rem;
    margin-top: 2rem;
    text-align: justify;
    padding: 2rem 2rem 0rem 2rem;
}

h1 {
    font-size: 3rem;
    text-align: center;
    padding: 3rem 3rem 1rem 3rem;
}

code {
    display: block;
    text-align: left;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    background-color: #0e0e0e;
    padding: 15px;
    margin: 2rem;
    border-radius: 5px;
    color: white;
    box-shadow: 0px 8px  16px 0px rgba(0,0,0,0.2);
}


#wd {
    text-align: center;
    margin-left: 15rem;
    font-style: italic;
    font-size: 2rem;
}

@media(max-width:600px){
    .main-section{
        padding: 1rem 0rem;
    }

    h1{
        line-height: 4rem;
        padding: 3rem 3rem 1rem 1rem;
    }

    code{
        display: none;
    }
    
    #wd {
        text-align: center;
        margin-left: 10rem;
        font-style: italic;
        font-size: 2rem;
    }

}


/* Main Section ------------------------------------------------------------------------------------------ */



/* Work experience section ----------------------------------------------------------------------------- */
#Work_Experience{
    display: flex;
    flex-direction: column;
}

.section-header {
    margin-left: 2rem;
}

#flex-container-work-experience{
    padding: 0rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: 0.3s;
    max-width: 450px;
    height: 500px;
    padding: 1rem;
}
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: scale(1.05);
}
  
.container-img {
    height: auto;
    text-align: center;   
}

.container-info ul{
    padding: 1.5rem;
    list-style-type: none;
}

.card-title{
    font-size: 1.3em;
}

@media(max-width:600px){
    .card {
        padding: 0rem 0rem 5rem 0rem;
        max-width: auto;
    }

    .container-info ul{
        padding: 0rem;
    }
}

/* Education section --------------------------------------------------------------------------*/
#Education{
    display: flex;
    flex-direction: column;
}

#flex-container-education{
    padding: 0 2rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

/* Skills Section ---------------------------------------------------------------------------- */
#Skills{
    display: flex;
    flex-direction: column;
}

#flex-container-skills{
    padding: 0 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 20px;
}
.header-skill{
    display: flex;
    flex-direction: column;
}

.card-skills {
    padding: 2rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: 0.3s;
    width: 400px;
    max-width: auto;
    height: auto;
}

.card-skills ul {
    list-style-type: none;
}

.skills{
    margin-top: 1rem;
}

.skills li{
    margin-top: 1rem;
}

.myProgress {
    border-width: 1px;
    border-style: solid;
    width: 100%;
    background-color: grey;
    box-shadow: 3px 3px 1px 1px rgba(0, 0, 0, 0.19);
}
  
#myHtmlBar {
    width: 60%;
    height: 8px;
    background-color: rgb(0, 0, 0);
}

#myJsBar {
    width: 50%;
    height: 8px;
    background-color: rgb(0, 0, 0);
}

#myPhpBar {
    width: 40%;
    height: 8px;
    background-color: rgb(0, 0, 0);
}

#mySqlBar {
    width: 40%;
    height: 8px;
    background-color: rgb(0, 0, 0);
}

#myLaravelBar {
    width: 50%;
    height: 8px;
    background-color: rgb(0, 0, 0);
}

#myReactBar {
    width: 65%;
    height: 8px;
    background-color: rgb(0, 0, 0);
}

#myReduxBar {
    width: 60%;
    height: 8px;
    background-color: rgb(0, 0, 0);
}
#myReduxSagaBar {
    width: 50%;
    height: 8px;
    background-color: rgb(0, 0, 0);
}

#myMaterialBar {
    width: 60%;
    height: 8px;
    background-color: rgb(0, 0, 0);
}

#myJqueryBar {
    width: 20%;
    height: 8px;
    background-color: rgb(0, 0, 0);
}

#myCypressBar {
    width: 20%;
    height: 8px;
    background-color: rgb(0, 0, 0);
}

#myGitBar {
    width: 50%;
    height: 8px;
    background-color: rgb(0, 0, 0);
}

#myAwsEc2Bar {
    width: 70%;
    height: 8px;
    background-color: rgb(0, 0, 0);
}

#myLinuxCliBar {
    width: 60%;
    height: 8px;
    background-color: rgb(0, 0, 0);
}

#myIredMailBar {
    width: 40%;
    height: 8px;
    background-color: rgb(0, 0, 0);
}


/* Certifications ------------------------------------------------------------------------------------------------------*/

#Certifications{
    display: flex;
    flex-direction: column;
}

#Certifications ul{
    list-style-type: none;
}

#Certifications-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    padding: 2rem 1rem;
}

.card-cert ul{
    display: flex;
    width: 450px;
}

.cert-logo{
    max-width: 150px;
    max-height: 158px;
}

.cert-info{
    margin: 0.5rem;
}

@media(max-width:600px){
    .card-cert ul{
        width: auto;
        height: auto;
    }
}

/* Lenguages---------------------------------------------------------------------------------------------- */
#Lenguages{
    display: flex;
    flex-direction: column;
}

#Lenguages-content{
    padding: 1rem 2rem;
}

#Lenguages-content ul{
    padding: 1rem 0rem;
    list-style-type: none;
}

#Lenguages-content li{
    padding: 0.5rem 0rem;
}

/* projects------------------------------------------------------------------------------------------------- */
#projects{
    display: flex;
    flex-direction: column;
}

#projects-content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2rem;
    padding:2rem;
}

#projects-content ul{
    list-style-type: none;
}

#projects-content li{
    padding: 0.2rem;
}

.card-project{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: 0.3s;
    max-width: 450px;
    height: 500px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.card-project:hover{
    transform: scale(1.04);
}

.btn-lauch-site{
    text-align: center;
    background-color: black;
    border-radius: 3px;
    border-style: none;
}

.btn-lauch-site:hover{
    background-color: rgb(66, 66, 66);
}

.btn-lauch-site [href]:visited {
    color: white;
}

@media(max-width:600px){
    .card-project {
        margin-top: 0.5rem;
    }
}

/* Contact --------------------------------------------------------------------------------------------- */
#social-media {
    margin-left: 49vw;
}

#social-media-content{
    display: flex;
    flex-direction: row;
    margin-left: 33vw;
    padding: 1rem;
}

@media(max-width:600px){
    #social-media {
        margin-left: 10vw;
    }

    #social-media-content{
        padding: 0.5rem;
    }
}

/* footer----------------------------------------------------------------------------------------------- */
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* social icons ------------------------------------------------------------------------------------------*/
.social-icon{
    width: 30px;
    height: 30px;
    margin-left: 0.5rem;
}



